

/* Start:/local/templates/home/components/bitrix/system.pagenavigation/pager/style.css?1678263253626*/
/*
 * Файл local/templates/шаблон/components/bitrix/system.pagenavigation/pager/style.css
 */
.pager {
  overflow: hidden;
  margin: 10px 0;
}
.pager li {
  list-style: none;
  float: left;
  margin-right: 15px;
}
.pager li:last-child {
  margin-right: 0;
}
.pager li a {
  display: block;
  width: 26px;
  height: 26px;
  text-align: center;
  background: #395985;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  text-decoration: none;
}
.pager li span {
  display: block;
  width: 26px;
  height: 26px;
  text-align: center;
  background: #e9751f;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
}

/* End */


/* Start:/local/templates/home/components/bitrix/news.list/.default/style.css?1678263253150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /local/templates/home/components/bitrix/system.pagenavigation/pager/style.css?1678263253626 */
/* /local/templates/home/components/bitrix/news.list/.default/style.css?1678263253150 */
